.container {
  text-align: center;
  padding: 40px 20px;
  background-color: #f8f9fa; /* Fondo suave */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.title {
  color: #333; /* Gris oscuro para el título */
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.buttonLink {
  text-decoration: none;
}

.button {
  background-color: #555555; /* Color gris */
  color: #ffffff;
  padding: 12px 25px;
  font-size: 1rem;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.button:hover {
  background-color: #dad730; /* Color amarillo en hover */
  transform: translateY(-2px); /* Efecto de levantamiento al pasar el mouse */
}

.button:active {
  transform: translateY(1px); /* Efecto de presión al hacer clic */
}



/* .container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    color: #0077b6;
  }
  
  .buttonLink {
    text-decoration: none;
  }
  
  .button {
    background-color: #0077b6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #005b8c;
  }
   */